.header-visual {
	position: relative;
	margin-bottom: 2rem;

	@media (min-width: $screen-md-min) {
		overflow: hidden;
		height: 49vh;
		max-height: 40rem;
	}
}

.header-visual__img {
    width: 100%;

    @media (min-width: $screen-md-min) {
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 0;
    }
}

.header-visual__content {
	margin-bottom: 2rem;
	text-align: center;

	@media (min-width: $screen-md-min) {
		-webkit-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);
    	z-index: 1;
    	position: absolute;
    	top: 50%;
    	left: 0;
    	width: 100%;
    	margin-bottom: 0;
    	text-align: left;
	}
}

.header-visual__content__inner {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

	@media (min-width: $screen-sm-min) {
        width: 750px;
    }

	@media (min-width: $screen-md-min) {
        width: 1030px;
    }
}

.header-visual__title {
	line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    color: $brand-color--tertiary;

    @media (min-width: $screen-md-min) {
        margin-top: 0;
    	font-size: 4rem;
    	font-weight: 300;
    	color: $white;
    }
}

.header-visual__text {
	font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3;

	@media (min-width: $screen-md-min) {
		max-width: 50%;
    	margin-bottom: 2.5rem;
    	color: $white;
    	font-weight: 400;
	}
}

.header-visual__btn {
	padding: .9em 1.5em;
    color: $brand-color--primary;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.1rem;
}