.block__splash--grey-lighter {
	background-color: $grey--lighter;
}

.block__splash--grey-light {
	background-color: $grey--light;
}

.block__splash--tertiary  {
	background-color: $brand-color--tertiary;

	color: $white;
}

.block__splash--figure-left {
	.splash__copy {
		float: right;
	}
}

.splash__title {
	text-align: center;
	font-weight: 300;
	font-size: 2.5rem;
	color: $brand-color--tertiary;

	&.splash__title--white {
    	color: $white;
    }

	@media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

.splash__body {
	text-align: center;
	font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3;

    &.splash__body--white {
    	color: $white;
    }

    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

.splash__image {
	width: 100%;
	height: auto;
}

.splash__cta {
	text-align: center;

	.splash__link {
		display: inline-block;
		position: relative;
		font-size: 1.2rem;
		font-weight: 400;
    	line-height: 1.3;
		color: $brand-color--primary;

		@include transition(all, .1s, linear);
		
		&:after {
			content: '\f105';
			display: block;
			position: absolute;
			right: -15px;
			top: 2px;
			font-family: $icon-font-family;

			@include transition(all, .1s, linear);
		}

		&:hover {
			text-decoration: none;
			color: $brand-color--tertiary;	

			&:after {
				right: -20px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
        text-align: left;
    }

}