.subscribe {
	.splash__title,
	.splash__body {
		@media (min-width: $screen-sm-min) {
        	text-align: center;
    	}

    	@media (min-width: $screen-md-min) {
        	text-align: center;
    	}
	}

	.splash__title {
		margin-top: 0;
	}
}

.newsletter__form {
	@media (min-width: $screen-sm-min) {
    	margin: 0 auto;
    	max-width: 30rem;
    }
}

.newsletter__form__input {
	padding: 1.1rem .7rem;
    border-radius: 0;
    border: none;
    font-size: 1rem;

	@media (min-width: $screen-sm-min) {
    	display: inline-block;
    	padding: 1.1rem 1rem;
    	max-width: 20rem;
    }
}

.newsletter__form__btn {
    display: block;
    border-radius: 0;
    border: none;
    width: 100%;
    margin-top: .5rem;
    background: $brand-color--primary;
    font-size: 1rem;
    color: $white;

    &:hover {
    	color: $white;
    }

    @media (min-width: $screen-sm-min) {
    	display: inline-block;
    	margin-left: .5rem;
    	margin-top: -1px;
    	width: auto;
    }
}

