/* ==========================================================================
   Buttons
   ========================================================================== */

/* General
   ========================================================================== */
.btn {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    display: inline-block;
    margin: 0;
    padding: .7em 1.5em;
    background: #fff;
    -webkit-appearance: none;
    border: 1px solid $grey--light;
    color: $black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &:hover {
        opacity: .8;
    }

    &:focus {
        outline: none;
    }
}
