/* ==========================================================================
   Fonts

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

@font-face {
  font-family: 'Amatic';
  src: url('../fonts/Amatic-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Amatic-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Amatic-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Amatic-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Amatic-Bold.svg#4c55e49cb4f37618a2e9fd5482d4c55d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/AmaticSC-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AmaticSC-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AmaticSC-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/AmaticSC-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AmaticSC-Regular.svg#9af3c996af706f139dcbbe62435a567b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Futura (Light)';
  src: url('../fonts/Futura PT - Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Futura PT - Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Futura PT - Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Futura PT - Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Futura PT - Light.svg#f645b47c14b1fff98cb266f0d3aec969') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}


/* Webfonts
   ========================================================================== */
$primary-font: 'Amatic', Arial sans-serif;
$secondary-font: 'Amatic SC', Arial, sans-serif;
$base-font: 'Futura (Light)';


/* Iconfonts
   ========================================================================== */
$icon-font-family: "FontAwesome";


/* Defaults
   ========================================================================== */
$font-family--base:         $base-font;
$font-family--headings:     $secondary-font;
$font-family--buttons:      $primary-font;
